parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#2 \\$haystack of function in_array expects array, array\\<string\\>\\|string\\|null given\\.$#"
			count: 1
			path: src/ServiceLocator.php

		-
			message: "#^Parameter \\#1 \\$preferredSource of static method PatrickKusebauch\\\\KubernetesDNS\\\\ServiceLocator\\:\\:throwNotAllowedPreferred\\(\\) expects string, array\\<string\\>\\|string given\\.$#"
			count: 1
			path: src/ServiceLocator.php

		-
			message: "#^Parameter \\#2 \\$allowedSources of static method PatrickKusebauch\\\\KubernetesDNS\\\\ServiceLocator\\:\\:throwNotAllowedPreferred\\(\\) expects array\\<string\\>, array\\<string\\>\\|string\\|null given\\.$#"
			count: 1
			path: src/ServiceLocator.php

		-
			message: "#^Parameter \\#1 \\$arr1 of function array_diff expects array, array\\<string\\>\\|string\\|null given\\.$#"
			count: 1
			path: src/ServiceLocator.php

		-
			message: "#^Property PatrickKusebauch\\\\KubernetesDNS\\\\ServiceLocator\\:\\:\\$config \\(array\\('preferredSource' \\=\\> string\\|null, 'allowedSources' \\=\\> array\\<string\\>\\)\\) does not accept array\\<string, array\\<string\\>\\|string\\|null\\>\\.$#"
			count: 1
			path: src/ServiceLocator.php

